.collection-card 
        .wrapper 
            img(src="./public/images/trending-collection/primary-photo-placeholder.png", alt="")
            .wrap-bottom 
                img(src="./public/images/trending-collection/secondary-photo-placeholder.png", alt="")
                img(src="./public/images/trending-collection/secondary-photo-placeholder-2.png", alt="")
                .count 1025+ 
        .info
            h5 DSGN Animals
            +User('Mr Fox')