.creator-card
    img(src="./public/images/rated-artist/avatar.png", alt="")
    .about-user 
        h5 Keepitreal
        .count 
            .total Total Sales:
            .price 34.53 ETH
        .number 1