.discower-card 
    img(src="./public/images/discower/img.png", alt="")
    .info 
        h5 Distant Galaxy
        .user
            img(src="./public/images/trending-collection/avatar.png", alt="")
            .name MoonDancer
        .count
            .price Price 
                .number 1.63 ETH
            .price Highest Bid
                .number 0.33 wETH
                        