.example-work-card 
    img(src="./public/images/icon.png", alt="")
    h5 Setup Your wallet
    p Set up your wallet of choice. Connect it to the Animarket by clicking the wallet icon in the top right corner.