footer.main-footer
    .wrap.content-center
        .footer-top 
            .nft-market-info 
                a.logo(href="#")
                    img(src="./public/images/logo.svg" alt="logo") 
                .text NFT marketplace UI created with Anima for Figma.
                .text Join our community
                .networks 
                    i.icon-discord-logo
                    i.icon-youtube-logo
                    i.icon-twitter-logo
                    i.icon-instagram-logo
            .explore 
                h3 Explore
                ul 
                    li 
                        a(href="") Marketplace
                    li 
                        a(href="") Rankings
                    li 
                        a(href="") Connect a wallet                
            .subscriber-info 
                    h3 Join Our Weekly Digest
                    .sub-title Get exclusive promotions & updates straight to your inbox.
                    form.email
                        input(type="email" name="email" placeholder="Enter your email here")
                        +Button("Subscribe", "is-primary")
        .footer-bottom 
            .sub-title Ⓒ NFT Market. Use this template freely.
   
