header.main-header.content-center
    a.logo(href="/")
        img(src="./public/images/logo.svg" alt="logo") 
    .wrap
        nav
            ul
                li
                    a(href="./marketplace.html") Marketplace
                li 
                    a(href="./rankings.html") Rankings
                li 
                    a(href="./connect.html") Connect a wallet
        a(href="./account.html")
         +Button("Sign Up", "is-primary", "icon-user") 
