$primaryColor: #a259ff;
$primaryBackground: #2b2b2b;
$primaryFonts: "Work Sans";
$secondaryFonts: "Space Mono";
$mainColor: #ffffff;

$breakpoints: (
    "mobile": (
        max-width: 375px,
    ),
    "tablet": (
        max-width: 834px,
    ),
    "small_laptop": (
        max-width: 1023px,
    ),
    "laptop": (
        max-width: 1100px,
    ),
    /* 'desktop': (
        max-width: 1439px,
    ),
    'desktop_large': (
        // max-width: 1599px,
        max-width: 1920px,
    ), */
) !default;
